.mopen {
    position: fixed;
    top: 30px;
    right: 30px;


    width: 30px;
    height: 30px;
    background: #333;
}

.mopen span {
    position: absolute;
    left: 3px;
    right: 3px;
    height: 4px;
    background: #fff;
    transition: 0.5s;
}

.mopen span:nth-child(1) {
    top: 6px;
}

.mopen span:nth-child(2) {
    top: 13px;
}

.mopen span:nth-child(3) {
    top: 13px;
}

.mopen span:nth-child(4) {
    bottom: 6px;
}

.mopen.on span:nth-child(1) {
    opacity: 0;
}

.mopen.on span:nth-child(2) {
    transform: rotate(45deg);
}

.mopen.on span:nth-child(3) {
    transform: rotate(-45deg);
}

.mopen.on span:nth-child(4) {
    opacity: 0;
}